                                              {{!-- ################################
                                              201704041333L   EL MARTES   JAY @ GA --}}
{{!--yield--}}

<li>

  <strong>{{stallion.name}}</strong><br><br>
                                              {{!--<em>AND HE'S THISSSSS  OLD    </em> --}}
<!-- {{stallion.color}} -->
<!-- <br/> -->
<!-- {{stallion.studFee}} -->
<img class='imgUrl' src={{stallion.imgUrl}}>
<!-- <br/> -->
<!-- {{stallion.age}} -->
</li>
