{{!-- ################################
201704041333L   EL MARTES   JAY @ GA --}}

{{yield}}

{{!-- app/templates/components/book-cover.hbs --}}
<!-- <li>
  <strong>{{book.title}}</strong><br><br>
  <em>by</em>
  {{book.author.name}}
</li> -->
AND THIS SHOWS WE GOT INTO

stallion-cover.hbs

<li>
  
  <strong>{{stallion.name}}</strong><br><br>

  <em>AND HE'S THISSSSS  OLD    </em>

  {{stallion.age}}

</li>
