{{!-- ################################
201704041333L   EL MARTES   JAY @ GA --}}

{{yield}}

{{!-- app/templates/components/book-cover.hbs --}}
<!-- <li>
  <strong>{{book.title}}</strong><br><br>
  <em>by</em>
  {{book.author.name}}
</li> -->
<li>
  <strong>{{stallion.name}}</strong><br><br>
  <em>by</em>
  {{stallion.age}}
</li>
