                                          {{!-- ################################ --}}
                                          {{!--201704051314L   EL MIERCOLES   JAY @ GA --}}
                                          {{!-- http://9elements.com/io/an-ember-js-application-with-a-rails-api-backend/ --}}
                                          {{!-- THIS WAS HERE BY DEFAULT --}}
                                          {{!--outlet--}}
{{#link-to 'stallions'}}Back to the stallions list{{/link-to}}
<h3>stallion Show</h3>
<h2>{{model.name}}</h2>
<p>{{model.age}}</p>
                                          {{!--<!-- <div>--}}
                                          {{!--  <strong>Comments( {{model.comments.length ):</strong>--}}
                                          {{!--  {{#each model.comments as |comment|--}}
                                          {{!--    <div>--}}
                                          {{!--      <strong>{{comment.author said:</strong>--}}
                                          {{!--      <p>{{comment.age</p>--}}
                                          {{!--      <button {{action 'deleteComment' comment>Delete Comment</button>--}}
                                          {{!--    </div>--}}
                                          {{!--  {{/each--}}
                                          {{!--</div> --}}
                                          {{!--<div>{{#link-to 'stallion.comment.new'Add comment{{/link-to</div> --}}
