                                          {{!-- ################################ --}}
                                          {{!--201704051314L   EL MIERCOLES   JAY @ GA --}}
                                          {{!-- http://9elements.com/io/an-ember-js-application-with-a-rails-api-backend/ --}}
                                          {{!-- THIS WAS HERE BY DEFAULT --}}
                                          {{!--outlet--}}
{{#link-to 'stallions'}}
    Take me back to the stallions list
{{/link-to}}

<p>Stallion SHOW VIEW/TEMPLATE</p>     {{!--model.name--}}

INSIDE OF
h2
WE SHOULD SEE

stallion.name

<h3>

    <p> model.id: {{model.id}}</p>
    <p>model.name:  {{model.name}}</p>
                                          {{!--model.name--}}
    <p>model.age: {{model.age}}</p>
    <p>model.imgUrl: {{model.imgUrl}}</p>
                                            {{!-- <strong>{{stallion.name</strong><br><br> --}}
    imgUrl.img:  <img class='imgUrl' src={{model.imgUrl}}>
</h3>

                                          {{!--model.age--}}
                                          {{!--<!-- <div>--}}
                                          {{!--  <strong>Comments( {{model.comments.length ):</strong>--}}
                                          {{!--  {{#each model.comments as |comment|--}}
                                          {{!--    <div>--}}
                                          {{!--      <strong>{{comment.author said:</strong>--}}
                                          {{!--      <p>{{comment.age</p>--}}
                                          {{!--      <button {{action 'deleteComment' comment>Delete Comment</button>--}}
                                          {{!--    </div>--}}
                                          {{!--  {{/each--}}
                                          {{!--</div> --}}
                                          {{!--<div>{{#link-to 'stallion.comment.new'Add comment{{/link-to</div> --}}
